body {
	font-family: sans-serif;
}
body.loading {
	height: 9999px;
}
body.loading:before {
	content: "LOADING";
	display: block;
	background-color: black;
	color: white;
	font-size: 60px;
	letter-spacing: .1em;
	text-align: center;
}

table {
	border-collapse: collapse;
}
table thead tr,
table tbody tr:nth-child(even) {
	background-color: #eee;
}
table thead th.sorting {
	background-color: #ccc;
}
table tbody tr.hilited {
	background-color: hsl(195, 53%, 85%);
}
table tbody tr.hilited:nth-child(even) {
	background-color: hsl(195, 53%, 81%);
}
table thead a {
	color: black;
}
table th,
table td {
	border: solid 1px #ccc;
	padding: 4px 10px;
}
table td.font-name {
	font-family: monospace;
}
table th.font-added,
table td.font-added {
	text-align: right;
}

a.globalize-font {
	text-decoration: none;
	font-weight: bold;
	color: black;

	display: inline-block;
	margin-left: 1em;
	transform: scale(1.5);
}

textarea {
	height: 6em;
	width: 50%;
	min-width: 600px;
}
