body {
	font-family: sans-serif;
}
body.loading:before {
	content: "LOADING";
	display: block;
	background-color: black;
	color: white;
	font-size: 60px;
	letter-spacing: .1em;
	text-align: center;
}

table {
	border-collapse: collapse;
}
table thead tr,
table tbody tr:nth-child(even) {
	background-color: #eee;
}
table th,
table td {
	border: solid 1px #ccc;
	padding: 4px 10px;
}
table td.font-name {
	font-family: monospace;
}
table th.font-added,
table td.font-added {
	text-align: right;
}
